<div class="col-lg-12 mt-3">
  <h1>Questions and Answer</h1>

  <%= link_to 'New Question', new_question_path, class: "btn btn-primary btn-lg", data: { toggle: 'modal', target: '#newQuestionModal', remote: true } %>


  
    <div id="accordion">
      <% @questions.each do |question| %>
        <%= render "questions/question_row", question: question %>
      <% end %>
    </div>
  

<%= paginate @questions %>


<div class="modal fade" id="newQuestionModal" tabindex="-1" role="dialog"aria-labelledby="newQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newQuestionModalLabel">Create New Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="newQuestionform">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editQuestionModal" tabindex="-1" role="dialog"aria-labelledby="editQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editQuestionModalLabel">Edit Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div id="editQuestionform">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showQuestionModal" tabindex="-1" role="dialog"aria-labelledby="showQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showQuestionModalLabel">Show Full Answer  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="showQuestionDetails">
      </div>
    </div>
  </div>
</div>

</div>
